* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

main {
    display: flex;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
}

/* ASIDE */
aside {
    width: 25vw;
    height: 100%;
    background-color: #90ee90;
    border-right: 2.2px solid black;
}

header {
    height: 12%;
    background-color: #87ceeb;
    border-bottom: 2.2px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

header, #aside-btns, #projects-list {
    padding-left: 13%;
}

header img {
    width: 48px;
}

#add-project {
    margin: 20px 0;
    padding: 2% 3%;
    width: 70%;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

#add-project img, #add-project p {
    justify-self: center;
}

#add-project img, #workspace-header img {
    width: 32px;
}

ul {
    list-style: none;
    padding-left: 6%;
}

ul li, #projects-list {
    font-size: 1.25rem;
}

/* DISPLAY */
#workspace {
    padding: 2.5%;
    width: 75vw;
    background-color: #ffc0cb;
}

#workspace-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-align: center;
}

#workspace-header h1 {
    text-transform: uppercase;
    font-size: 1.7rem;
}

#add-task {
    display: flex;
    align-items: center;
}

/* MODAL */
#input-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#input-container input{
    width: 100%;
}

.dropdown {
    background-color: #ff5733 ;
}