* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

main {
    display: flex;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
}

/* ASIDE */
aside {
    position: relative;
    width: 25vw;
    height: 100%;
    background-color: #90ee90;
    border-right: 3.2px solid black;
}

#marquee {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.245);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.marquee .marquee-content {
    animation: marqueee 15s linear infinite !important; 
}

@keyframes marqueee {
    0% {
        transform: translateX(100%)
    }

    100% {
        transform: translateX(-200%)
    }
}

header {
    height: 12%;
    background-color: #87ceeb;
    border-bottom: 3.2px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

header, #aside-btns, #projects-list {
    padding-left: 13%;
}

header img {
    width: 48px;
}

#add-project {
    margin: 20px 0;
    padding: 2% 3%;
    width: 70%;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

#add-project img, #add-project p {
    justify-self: center;
}

#add-project img, #workspace-header img {
    width: 32px;
}

ul {
    list-style: none;
    padding-left: 6%;
}

ul li, #projects-list {
    font-size: 1.25rem;
}

/* DISPLAY */
#workspace {
    position: relative;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#workspace:after {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 75vw;
    height: 100%;
    opacity: 0.6;
    background-image: url(imgs/pattern.jpg);
    background-size: contain;
    z-index: -1;
  }

#workspace-header {
    padding: 2.5%;
    background-color: #69d2e7e0;
    border-bottom: 3.2px solid black;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-align: center;
}

#workspace-header h1 {
    text-transform: uppercase;
    font-size: 1.7rem;
}

#add-task {
    display: flex;
    align-items: center;
}

#workspace-display {
    padding: 2.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    border: 2.5px solid black;
    background: #bc98cb ;
}

#left-display, #right-display {
    width: 44%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* MODAL */
#input-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#input-container input{
    width: 100%;
}

.dropdown {
    background-color: #ff5733 ;
}

#project-modal {
    display: none
}

#project-modal:checked ~ .modal,#project-modal:checked ~ .modal-background {
    display: block
}

.modal-header {
    text-align: center;
}


/* todo */
#todo {
    position: relative;
    margin: 0;
    width: 100%;
    height: 191px;
    padding: 4%;
    background-color: #ff5733;
    border: 2.2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#todo:before {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    border-left: 10px solid #40d39c ;
    pointer-events: none;
  }

#todo img {
    width: 30px;
}

#todo-btns {
    display: flex;
    justify-content: space-between;
}

#todo-btns .nb-button {
    padding: 5px 15px;
}